.product-card {
  height: 100%;
  background-color: lightblue;
}

.product-img-container {
  height: 300px; /* Set a fixed height for the image container */
  overflow: hidden; /* Hide any overflowing content */
}

.product-img {
  width: 100%; /* Make the image occupy the full width of the container */
  height: 100%; /* Make the image occupy the full height of the container */
  object-fit: cover; /* Resize the image while maintaining aspect ratio */
}

.product-details {
  padding: 1rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-price {
  font-size: 1.1rem;
}

.product-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
